<!-- <div class="red"> -->
<!-- <div class="conatiner-fluid"> -->
    <div class="row main-header__container">

        <div class="col-5 col-xxl-5 col-xl-4 col-lg-2 col-md-2 col-sm-1 col-1 ">
            <div class="main-header__logo">
                <img src="assets/icon-home-page/Frame.svg" alt="">
            </div>
        </div>
        <div class="nav-section col-7 col-xxl-7  col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
            <div class="main-header__nav-bar-section" >
               <div class="main-header__nav-bar-menu">
                <ul>
                    <li>Home</li>
                    <li>Menu</li>
                    <li>Our Story</li>
                 </ul>
               </div>
                      <div class="dropdown">
                        <button class="dropdown-btn">
                            <img src="assets/icon-home-page/carbon_location-filled.svg" alt="">
                            Brooklyn Ny</button>
                        <div class="dropdown-content">
                          <a href="#">Home</a>
                          <a href="#">Menu</a>
                          <a href="#">Our Story</a>
                        </div>
                    <button type="button" class="main-header__order-btn">ORDER NOW</button>
                      </div>
                    
            </div>
        </div>

    </div>
<!-- </div> -->