<div class="main-container row ">
    <div class="">
        <div class="main-home__deals col-12">
            <div class="main-home__dealsabout col-5"><span>Flame Grilled</span> Chicken & Ribs &<span> Hand Cut</span>
                Fries

                <div class="row">
                    <div class="col-12"><button class="main-home__deal-btn">ORDER NOW</button></div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="first-deal-img col-3">
                        <img src="assets/icon-home-page/Rectangle 6.svg" alt="">
                    </div>
                    <div class="second-deal-img col-6">
                        <img src="assets/icon-home-page/Rectangle 7.svg" alt="">
                    </div>
                </div>
            </div>




        </div>


        <div class="row ">
            <div class="main-home__featured-menu row ">

                <div class="row">
                    <div class="main-home__featured col-10">
                        <span>Featured Menu</span>
                    </div>



                    <div class="main-home__menu-btn col-2">
                        <button>FULL MENU</button>
                    </div>

                </div>
                <div class="main-home__deal-card row">
                    <div class="col-3">
                        <div>
                            <img src="/assets/icon-home-page/Rectangle 8.svg" alt="">
                        </div>
                        <div class="main-home__offer-list" >
                            <div class="main-home__deal-card-offers">
                                <span>12PC Chicken Meal</span>
                            </div>
                            <div class="main-home__deals-card-served">
                                <span>Served with two signature sauces</span>
                            </div>
                            <div class="main-home__deal-price">
                                <span>16.99</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div>
                            <img src="/assets/icon-home-page/Rectangle 10.svg" alt="">
                        </div>
                        <div class="main-home__offer-list" >
                            <div class="main-home__deal-card-offers">
                                <span>Avocado Chicken Bowl</span>
                            </div>
                            <div class="main-home__deals-card-served">
                                <span>Lamb Gyro, avocado and pear</span>
                            </div>
                            <div class="main-home__deal-price">
                                <span>16.99</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div>
                            <img src="/assets/icon-home-page/Rectangle 12.svg" alt="">
                        </div>
                        <div class="main-home__offer-list" >
                            <div class="main-home__deal-card-offers">
                                <span>Chicken Stop Pita</span>
                            </div>
                            <div class="main-home__deals-card-served">
                                <span>Served with sauce of choice</span>
                            </div>
                            <div class="main-home__deal-price">
                                <span>12.99</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="/assets/icon-home-page/Rectangle 14.svg" alt="">
                        </div>
                        <div class="main-home__offer-list">
                            <div class="main-home__deal-card-offers">
                                <span>Crispy Chicken Sandwich</span>
                            </div>
                            <div class="main-home__deals-card-served">
                                <span>Served with two signature sauces</span>
                            </div>
                            <div class="main-home__deal-price">
                                <span>10.99</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


        <div class="main-home__story row ">
            <div class="main-home__featured col-12" >
                <span>Our Story</span>
            </div>
            <div class="main-home__stories row">
                <div class="main-home__our-story-main col-8">
                    <div class="main-home__our-story">
                        <span>
                            Chicken Stop is fortunate to have first opened its doors in 2021 amidst a global pandemic.
                            We are extremely grateful for our real-life Superheroes, our frontline workers!
                        </span>
                    </div>
                    <div class="main-home__our-story">
                        <span>
                            Our passion for grilling and our chicken’s signature family citrus recipe dates back 3-4
                            generations originating from South America, known for its BBQ grill or “asado”. We grill our
                            quality chicken, ribs, and burgers using those same techniques; grilling-slow to provide you
                            with juicy and healthier meat...
                        </span>
                    </div>
                    <div class="main-home__story-btn col-4">
                        <button>READ MORE</button>
                    </div>

                </div>
                <div class="main-home__story-image col-3 ">
                    <img src="assets/icon-home-page/DSC05012 1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="main-home__contact row">
            <div class="col-6">
                <div class="main-home__contact-heading"> Get In Touch</div>
                <div class="main-home__contact-list">
                    <img src="assets/icon-home-page/Vector.svg" alt=""> <span>@ChickenStopNYC</span>
                </div>
                <div class="main-home__contact-list">
                    <img src="assets/icon-home-page/Vector (1).svg" alt=""> <span>917-909-1599</span>
                </div>
                <div class="main-home__contact-list">
                    <img src="assets/icon-home-page/Vector (2).svg" alt=""> <span>info@chickenstopnyc.com</span>
                </div>
                <div class="main-home__contact-list">
                    <img src="assets/icon-home-page/Vector (3).svg" alt="">
                    <span> 110 Dekalb Avenue, Brooklyn, New York</span>
                    <div><span>28, Awesome Road, Queens, New York</span></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ">
                    <div class="col-4">
                        <div><img src="assets/icon-home-page/Rectangle c1.svg" alt=""></div>
                        <div class="main-home__contact-img"><img src="assets/icon-home-page/Rectangle c4.svg" alt="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div><img src="assets/icon-home-page/Rectangle c2.svg" alt=""></div>

                    </div>
                    <div class="col-4">
                        <div><img src="assets/icon-home-page/Rectangle c3.svg" alt=""></div>
                        <div class="main-home__contact-img"><img src="assets/icon-home-page/Rectangle c5.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-home__chicken-shop-loc row ">
            <div class=" col-12">
                <img src="assets/icon-home-page/Rectangle 29.svg" alt="">
            </div>
        </div>
    </div>
</div>