<div class="container-fluid">

    <div class="main-footer__container row">

        <div class="main-footer__address col-lg-4 col-md-12">
            <div class="main-footer__address-area">© Chicken Stop</div>
            <div>110 Dekalb Avenue, Brooklyn, New York </div>
            <div>28, Awesome Road, Queens, New York</div>
        </div>

        <div class="main-footer__info col-lg-4 col-md-12">
            <div class="main-footer__address-area">HOURS</div>
            <div>MON - SUN</div>
            <div>11am - 10 pm</div>
        </div>

        <div class="main-footer__socialLinks col-lg-4 col-md-12">
            <img src="assets/footer-icon/Vector.svg" alt="">
            <img src="assets/footer-icon/Vector (1).svg" alt="">
            <img src="assets/footer-icon/Vector (2).svg" alt="">
        </div>
    </div>
</div>